// SPDX-License-Identifier: MPL-2.0
// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

nextflow.enable.dsl = 2
manifest {
    name = 'FHR-Nextflow'
    description = 'Reusable FHR metadata and converter modules'
    version = '0.1.0-dev'
    nextflowVersion = '>=26.04.6'
}
params {
    metadata = null
    id = 'example'
    sequence = null
    sequence_format = 'fasta'
    outdir = 'results'
    converter_source = null
    fhr_container = 'fhr-nextflow:0.1.0'
}
process {
    errorStrategy = 'terminate'
    cpus = 1
    memory = '1 GB'
    time = '30m'
    withLabel: fhr { container = params.fhr_container }
}
profiles {
    docker { docker.enabled = true }
}
